<div class="calendar">

  <div class="header">
    <div class="day" *ngFor="let day of days">
      {{ day | date:'d' }}
    </div>
  </div>

  <div class="row" *ngFor="let project of projects">

    <div class="project-name">
      {{project.name}}
    </div>

    <div class="timeline">

      <div
        class="event"
        *ngFor="let event of project.events"
        [ngStyle]="getEventStyle(event)"
        (mousedown)="startDrag($event, event)"
      >
        {{event.title}}
      </div>

    </div>

  </div>

</div>
<router-outlet></router-outlet>